<a href="https://colab.research.google.com/github/eryadavmukesh/Deep_Learning/blob/main/Artificail_Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Importing Required Libraries**

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
print(tf.__version__)

2.6.0

## **Importing the dataset**

In [ ]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:,-1].values

In [ ]:
dataset

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [ ]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

## **Encoding Categorical data**

Label encoding for Gender column

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,2] = le.fit_transform(X[:,2])

In [ ]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One hot encoding to 'Geography' column

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import  OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [ ]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

## **Split the dataset into test or train**

In [ ]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 0)

## **Feature Scaling**

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

## **Part - 2 Building the Artifical Neural Network**

Initialize ANN

In [ ]:
ann = tf.keras.models.Sequential()

Adding the input layer and first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

**Adding the second hidden layer**

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## **PART-3, Training the ANN**

Complie the ANN

In [ ]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

Training the ANN on the training data

In [ ]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 0.6242 - accuracy: 0.7260
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5226 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4727 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4441 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4315 - accuracy: 0.7966
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4200 - accuracy: 0.8123
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4115 - accuracy: 0.8225
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4044 - accuracy: 0.8259
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3978 - accuracy: 0.8280
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3912 - accuracy: 0.8280
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3846 - accuracy: 0.8294
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3792 - accuracy: 0.8278
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3738 - accuracy: 0.8326
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3661 - accuracy: 0.8466
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3584 - accuracy: 0.8543
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3533 - accuracy: 0.8561
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3498 - accuracy: 0.8576
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3470 - accuracy: 0.8590
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3455 - accuracy: 0.8605
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3440 - accuracy: 0.8587
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8605
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3426 - accuracy: 0.8611
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8601
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8599
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8615
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8625
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8621
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8616
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8618
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8619
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8620
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8631
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8622
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8629
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8629
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8639
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8641
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8631
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8633
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8636
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8643
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8622
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8641
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8640
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8633
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8631
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8622
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8624
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8636
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8633
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8635
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8606
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8634
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8621
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8631
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8633
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8629
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3342 - accuracy: 0.8627
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8626
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8618
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8614
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8631
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8630
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8624
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8644
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8648
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8626
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8639
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8634
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8644
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8636
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8637
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8637
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8636
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3328 - accuracy: 0.8643
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8640
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8646
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8639
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8644
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8635
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8649
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8641
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8640
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8631
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8645
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8644
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8640
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8650
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8661
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8649
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8654
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8644
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8649
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8660
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8646
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8640
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8648
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8650
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8651
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8654

## **PART-4, Making the predections**

In [ ]:
print(ann.predict(sc.transform([[1,0,0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]